---
import typography from "../styles/typography"
---
<p class={`${typography["copyright"]}`}>
   <!-- copyright html code -->
   &#169;{" "}
   {new Date().getFullYear().toString()}
   <span class="text-sm sm:text-base tracking-wide font-bold">razsbg</span>
 </p>
