---
import { EmojiIcon } from "@repo/ui"

import typography from "../styles/typography"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <title>Discover & Share Music with razsbg</title>

    <style>
      @import url("../styles.css");

      body {
        grid-template-rows: 1fr auto;
      }
    </style>
  </head>
  <body class="p-5 min-h-screen grid text-zinc-50 bg-zinc-700">
    <main class="justify-self-center self-center">
      <h1 class={`inline-flex items-center gap-3 ${typography["heading-1"]}`}>
        Work in progress <EmojiIcon label="construction" value="🚧" />
      </h1>

      <p class="hidden">
        Welcome to a realm where soundtracks take shape through visual whispers.
        Each playlist emerges first as a fleeting concept - a seed of
        inspiration that grows into curated sound. These auditory journeys begin
        with evocative <a href="https://unsplash.com/" target="_blank"
          >Unsplash</a
        > imagery that mirrors the playlist's essence, then evolve through a fusion
        of human curation and algorithmic intuition. Some collections pulse with
        cinematic drama, others shimmer with quiet introspection, but all carry the
        fingerprint of intentional design. Press play to wander through these sound-canvases,
        where every track placement is a deliberate brushstroke in an evolving audio
        tapestry
      </p>
    </main>

    <footer class="mt-auto p-5 pb-0 text-center">
      <p class={`${typography["copyright"]}`}>
        <!-- copyright html code -->
        &#169;{" "}
        {new Date().getFullYear().toString()}
        <span class="text-sm sm:text-base tracking-wide font-bold">razsbg</span>
      </p>
    </footer>
  </body>
</html>
