---
import AnchorIcon from "../components/anchor-icon.astro"

import typography from "../styles/typography"

type Song = {
  title: string
  url: string
}

interface Props {
  songs: Song[]
}

const { songs } = Astro.props
---

<style>
  ol {
    counter-reset: top-ten;
  }

  ol > li > a::after {
    content: counter(top-ten, decimal-leading-zero);
    counter-increment: top-ten;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2ch;
    color: hsl(168.39deg 83.78% 78.24%);
    font-size: 1.15em;
    font-weight: 500;
  }

  @media only screen and (min-width: 1024px) {
    ol li > a::after {
      content: "#";
    }

    ol:hover > li > a::after {
      content: counter(top-ten, decimal-leading-zero);
      counter-increment: top-ten;
    }

    ol > li:hover > a::after {
      color: hsl(173, 80%, 40%);
    }
  }
</style>

<h3
  class={`mt-[1rem] mb-[1.25rem] sm:px-0.5 ${typography["subtitle"]} flex gap-1.5 items-center justify-center`}
>
  <span>Top 10 picks</span>
  <AnchorIcon className="inline-block size-[.85em] text-slate-200" />
</h3>
<ol class={`flex flex-col gap-2 ${typography["top-ten-list"]}`}>
  {
    songs.map(song => {
      return (
        <li>
          <a
            target="_blank"
            rel="noopener noreferer"
            href={song.url}
            class="flex justify-between gap-3 lg:gap-5 lg:hover:text-teal-500"
          >
            <span class="underline">{song.title}</span>
          </a>
        </li>
      )
    })
  }
</ol>
